body{
    background-color: lightblue;
}
header{
    border: 3px solid maroon;
    background-color: white;
    margin-bottom: 30px;
}
div{
    float: left;
    border: 3px solid maroon;
    background-color: white;
    margin: 10px;
	padding: 10px;
}
input.region, input#show{
    clear: both;
    padding: 5px;
    margin: 5px;
}
input#show{
    background-color: green;
    opacity: 0.5;
}
table {
    clear: both;
    border: 2px solid maroon;
    background-color: white;
    font-size: 20px;
}
tr, th, td {
    border: 2px solid black;
    padding: 5px;
}
p {
    font-size: large;
}