body {
    background: rgba(159, 92, 92, 0.5);
}
header {
    border-radius: 10px;
    border: 2px solid #4CAF50;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
footer {
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    height: 30px;
    position: fixed;
    left: 5%;
    bottom: 0px;
    text-align: center;
}
text {
    font-weight: bold;
    font-family: "Courier New", "Courier", monospace;
    text-anchor: middle;
}
h2, h3{
    text-align: center;
}
legend {
    background-color: gray;
    color: white;
    padding: 5px 5px;
}
fieldset {
    border-radius: 10px;
    background-color: #eeeeee;
    margin: auto;
    font-size: 14px;
    display: block;
}
input {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #4CAF50;
    margin: 2px 2px;
    padding: 10px 20px;
    font-size: 15px;
}
input[type=button] {
    background: rgba(0, 255, 0, 0.3);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
input[type=button]:disabled {
    background: rgba(0, 255, 0, 0.15);
}
input[type=text] {
    box-sizing: border-box;
}
input#toAddValue, input#toReset {
    background: rgba(255, 0, 0, 0.3);
}
input#toAddValue:disabled, input#toReset:disabled {
    background: rgba(255, 0, 0, 0.15);
}
article#menu {
    width: 15%;
    float: left;
}
article#whiteboard {
    width: 75%;
    float: right;
}
article#description {
    width: 40%;
    margin: auto;
    text-align: center;
}
div#contentInfo {
    display: none;
    width: 100%;
}
div#alert {
    text-align: center;
    color: red;
}
